<html>
<body background="{{ url_for('static', filename='qwe.jpg') }}">
<h1 style="font-family:Comic Sans MS;font-size:400%;color:white"> Try your Facial Expressions here...</h1>
<img src="{{ url_for('static', filename='emoji1.jpg.png') }}" width="200" height="200">
<img src="{{ url_for('static', filename='emoji4.jpg.png') }}" width="200" height="200">
<img src="{{ url_for('static', filename='emoji2.jpg.png') }}" width="200" height="200">

<br/>  <br/>  <br/> <br/>
<a href="http://0.0.0.0:5000/video_feed"> <button type="button" onclick="" style="height:100px; width:200px;font-size:200%">Let's get Started</button> </a>


</body>
</html>

