<html>
<head>
<title>SAAS</title>
<!--<style>
body { 
      background-image: url("https://previews.123rf.com/images/melpomen/melpomen1603/melpomen160300791/54371630-saas-software-as-a-service-concept-with-hand-pressing-a-button-on-blurred-abstract-background.jpg");
      background-size: 100% 160%;     
}
</style>-->
</head>
<body>
<center>
<!--<h1 style="color:white;font-size:300%;">SOFTWARE AS A SERVICE</h1>-->
<form action="/usr/lib/cgi-bin/try.py" method="POST">
    <marquee>
    <p style="color:pink;font-size:150%;"><b>Select any Software!</b></p>
    </marquee>
    </br></br></br></br></br></br></br></br></br></br></br></br></br><a style="color:darkblue;font-size:200%;"><input type="radio" name="choice" value="enroll"><b>Enroll</b></a></br></br>
    <a style="color:darkblue;font-size:200%;"><input type="radio" name="choice" value="recognize"><b>Recognize</b></a></br></br>
    <!--<a style="color:darkblue;font-size:200%;"><input type="radio" name="choice" value="Gedit"><b>Text Editor</b></a></br></br>
    <a style="color:darkblue;font-size:200%;"><input type="radio" name="choice" value="Cheese"><b>Camera</b></a></br></br>-->
    <input type="submit" name="submit" value="submit" style="font-size:100%;">
   
   
</form>
</center>
</body>
</html>
